@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/brown.css";

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url("/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf")
		format("truetype-variations");
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url("/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf")
		format("truetype-variations");
	font-weight: 100 1000;
	font-style: italic;
	font-display: swap;
}

:root {
	--wrap-width: 768px;
	--wrap-width-wide: 1280px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	min-height: 100svh;
}

body {
	font-weight: 400;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr max-content;

	background-color: var(--brown-2);
	color: var(--sand-12);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Atkinson Hyperlegible Next", Figtree, Inter, system-ui,
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	height: 100%;
	min-height: 100svh;
	padding: 2rem 0 12rem;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/* === RESET FINISHES === */

ul {
	list-style-type: "-  ";
}

hr {
	background: hsl(0, 0%, 80%);
	height: 1px;
	border: 0;
	margin: 0.5rem 0;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

h2,
h3 {
	margin-top: 1.2rem;
	margin-bottom: 0.5rem;
}

p {
	margin: 1em 0;
}

a {
	font-weight: 500;
	color: inherit;
	color: var(--brown-11);

	text-decoration-color: var(--brown-6);
	text-decoration-thickness: 2px;

	&:hover {
		color: var(--brown-10);
		text-decoration-color: var(--brown-5);
	}
}

pre {
	margin: 0.5rem 0;
	border-radius: 4px;
	padding: 1rem;
	tab-size: 4;
}

code {
	font-size: 0.875rem;
	font-family: "JetBrains Mono", monospace;

	:not(pre) > & {
		color: var(--brown-12);
		background-color: var(--brown-3);
		border: 1px solid var(--brown-6);
		padding: 1px 2px;
		border-radius: 4px;
	}
}

blockquote {
	background-color: var(--brown-3);
	border: 1px solid var(--brown-6);
	border-radius: 4px;
	padding: 0.5rem;

	p {
		color: var(--brown-12);
		margin: 0;

		+ p {
			margin-top: 1rem;
		}
	}

	code {
		background: var(--brown-2);
		border-color: var(--brown-5);
	}
}

article img {
	height: auto !important;
}
