---
interface Props {
	title: string;
	slug: string;
	date: Date | null;
}

const { title, slug, date } = Astro.props;
---

<div class="container">
	<a class="link" href={slug}>
		{title}
	</a>
	{date && <span class="date">{date.toISOString().slice(0, 10)}</span>}
</div>

<style>
	.container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		column-gap: 0.5rem;
	}

	.link {
		color: var(--sand-12);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.date {
		color: var(--sand-11);
		font-variant-numeric: tabular-nums;
		white-space: nowrap;
	}
</style>
