<div>
	<a href="/" id="home-link" data-astro-prefetch><b>Ben Silverman</b></a>

	<nav>
		<a href="/posts" data-astro-prefetch>/posts</a>
		<a href="/now" data-astro-prefetch>/now</a>
		<a href="/uses" data-astro-prefetch>/uses</a>
	</nav>
</div>

<style>
	#home-link {
		color: unset;
		text-decoration: none;
	}

	div {
		@media screen and (min-width: 768px) {
			position: sticky;
			height: max-content;
			top: 0;
		}

		width: 100%;
		padding: 1rem;
		margin: 0 auto;

		max-width: var(--wrap-width);
	}
	nav {
		display: grid;
		grid-template-columns: 1fr;
	}
</style>
