<div>
	<a href="/" id="home-link" data-astro-prefetch><b>Ben Silverman</b></a>

	<nav>
		<a href="/posts" data-astro-prefetch>/posts</a>
		<a href="/now" data-astro-prefetch>/now</a>
		<a href="/uses" data-astro-prefetch>/uses</a>
	</nav>
</div>

<style>
	#home-link {
		text-decoration: none;
	}

	div {
		width: 100%;
		color: white;
		padding: 2px 4px;
		margin: 0 auto;

		max-width: var(--wrap-width);

		display: flex;
		justify-content: space-between;
		background: #000;
	}
</style>
